body {
    font-family: 'Montserrat', sans-serif;

}

.nav-link {
    margin-right: 20px;
    color: #707070
}

.active {
    border-bottom: 3px solid #3300FF;
    color: #3300FF;
}

.navbar {
    padding: 0;
    padding-top: 1rem;
}

.banner {
    height: 100vh;
    background-color: #FFF8EC;
}

.banner h1 {
    width: 95%;
    align-items: center;
    font-size: 5em;
    font-weight: 700;
    padding-top: 60px;
}

.banner-button {
    width: 50%;
    height: 3.5em;
    margin-top: 30px;
    border: 3px solid #3300FF;
    border-radius: 40px;
    background: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    color: #707070;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.banner-svg {
   width: 100%;
   height: 100%;
}

.auth-container{
    width: 80%;
    height: auto;
    margin: auto;
    border: 3px solid #3300FF;
    border-radius: 25px;
    margin-top: 40px;
    color: #707070;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.auth-button-container{
    padding-top: 30px;
    width: 50%;
    margin: auto;
    display: block;
}

.auth-form-container{
    padding: 5% 10% 5% 10%;
}

.login-tab{
    width: 50%;
    background-color: #fff;
    border: solid #000;
    border-radius: 20px 0 0 20px;
}

.register-tab{
    width: 50%;
    background-color: #fff;
    border-radius: 0 20px 20px 0;
    
}

.active-btn {
    color: #3300FF;
    border: 3px solid #3300FF;
}

.primary-btn{
    border: 3px solid #3300FF;
    border-radius: 40px;
    background: #fff;
    width: 40%;
    font-weight: 600;
    align-content: center;
    color: #707070;
    margin-left: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 6px;
}

.auth-heading{
    padding-top: 40px;
    text-align: center;
}

.auth-heading h2 {
    font-weight: 600;
}

.auth-heading h2 span {
    color: #3300FF;
}

.action-card{
    border-radius: 14px;
    padding: 10px;
    margin: 20px;
    border: 1px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 6px;
}

.action-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 13px;
    border: 1px solid #3300FF;
}

.action-card h4, p{
    padding: 10px;
}

.page-heading{
    margin-top: 60px;
}

.cart-nav{
    font-weight: 600;
    text-align: center;
    padding: 20px;
    color: #707070;
}

.cart-nav:hover {
    cursor: pointer;
}